/*
|---------------------------------------------------------
| Color
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Width
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Margin
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Clear Fix
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Transition
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Font Style
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Other
|---------------------------------------------------------
*/
/* line 4, ../sass/aboutme.scss */
#main-aboutme {
  background: #fff;
}

/* line 8, ../sass/aboutme.scss */
#aboutme {
  color: #aaaaaa;
  padding: 3em 0;
  max-width: 960px;
  margin: 0 auto;
}
/* line 14, ../sass/aboutme.scss */
#aboutme h2 {
  text-align: center;
  padding-bottom: 1em;
}
