/*
|---------------------------------------------------------
| Color
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Width
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Margin
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Clear Fix
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Transition
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Font Style
|---------------------------------------------------------
*/
/*
|---------------------------------------------------------
| Other
|---------------------------------------------------------
*/
/* line 4, ../sass/catalog.scss */
body {
  background: #fff;
}

/* line 8, ../sass/catalog.scss */
#catalog {
  width: 100%;
  background: #fff;
  padding-top: 4em;
}
/* line 13, ../sass/catalog.scss */
#catalog h2 {
  text-align: center;
  color: #23aba7;
  margin: 1em 0 1.5em 0;
  padding-bottom: 1.3em;
  border-bottom: 1px solid #23aba7;
}

/* line 22, ../sass/catalog.scss */
.main-catalog {
  padding: 1em 0;
  max-width: 960px;
  margin: 0 auto;
}

/* line 28, ../sass/catalog.scss */
.catalog-items {
  overflow: hidden;
}
/* line 8, ../sass/_mixin.scss */
.catalog-items:after, .catalog-items:before {
  content: ' ';
  display: table;
}
/* line 13, ../sass/_mixin.scss */
.catalog-items:before {
  clear: both;
}

/* line 33, ../sass/catalog.scss */
.catalog-item {
  float: left;
  width: 99%;
  margin-right: 1%;
  margin-bottom: 2%;
  color: #909090;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 44, ../sass/catalog.scss */
.catalog-item h4 {
  position: absolute;
  bottom: 50px;
  right: 0;
  color: #22aba6;
}
/* line 51, ../sass/catalog.scss */
.catalog-item:nth-child(2n+1) {
  clear: both;
}
/* line 55, ../sass/catalog.scss */
.catalog-item .inner-catalog-img {
  width: 49%;
  margin-right: 1%;
  float: left;
}
/* line 61, ../sass/catalog.scss */
.catalog-item .inner-catalog-img img {
  max-width: 100%;
  transition: all 0.2s;
  border-radius: 5px;
}
/* line 70, ../sass/catalog.scss */
.catalog-item .inner-catalog-fishki,
.catalog-item .inner-catalog-specifications {
  width: 4%;
  min-height: 10px;
  float: right;
  text-align: center;
  margin-right: 1%;
}
/* line 77, ../sass/catalog.scss */
.catalog-item .inner-catalog-fishki img,
.catalog-item .inner-catalog-specifications img {
  max-width: 100%;
  background-size: contain;
  background-color: rgba(35, 171, 167, 0.5);
  border-radius: 50%;
}
/* line 85, ../sass/catalog.scss */
.catalog-item .inner-catalog-item {
  width: 39%;
  margin-right: 1%;
  float: left;
  position: relative;
}
/* line 92, ../sass/catalog.scss */
.catalog-item .inner-catalog-item .change-goods {
  margin-top: 1em;
  display: inline-block;
}
/* line 97, ../sass/catalog.scss */
.catalog-item .inner-catalog-item .catalog-item-price {
  display: inline-block;
  margin: 1em 0 0 2em;
  line-height: 51px;
  float: right;
}
/* line 103, ../sass/catalog.scss */
.catalog-item .inner-catalog-item .catalog-item-price p {
  font-size: 1em;
}
/* line 107, ../sass/catalog.scss */
.catalog-item .inner-catalog-item .catalog-item-price span {
  color: #23aba7;
  font-size: 1.1em;
}
/* line 112, ../sass/catalog.scss */
.catalog-item .inner-catalog-item .catalog-item-price i {
  font-size: .6em;
}
/* line 117, ../sass/catalog.scss */
.catalog-item .inner-catalog-item h3 {
  color: #23aba7;
  font-size: 2em;
}
/* line 122, ../sass/catalog.scss */
.catalog-item .inner-catalog-item p {
  font-size: .9em;
  margin-bottom: 1em;
}
/* line 127, ../sass/catalog.scss */
.catalog-item .inner-catalog-item i {
  height: 2em;
  width: 2em;
  line-height: 2.1em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
}
/* line 135, ../sass/catalog.scss */
.catalog-item .inner-catalog-item i:hover {
  border-color: #23aba7;
  color: #23aba7;
}
/* line 141, ../sass/catalog.scss */
.catalog-item .inner-catalog-item input {
  height: 3.2em;
  width: 3.2em;
  border: 1px solid #23aba7;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 400;
  transition: all 0.5s;
  box-sizing: border-box;
}

/*
|---------------------------------------------------------
| Shopping Cart
|---------------------------------------------------------
*/
/* line 165, ../sass/catalog.scss */
#shopping-cart {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(240, 240, 240, 0.9);
  color: #aaaaaa;
  top: 115px;
  display: none;
  transition: all 1s;
}

/* line 178, ../sass/catalog.scss */
.shopping-cart-inner {
  max-width: 960px;
  margin: 0 auto;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0.75em 0;
  cursor: pointer;
}
/* line 8, ../sass/_mixin.scss */
.shopping-cart-inner:after, .shopping-cart-inner:before {
  content: ' ';
  display: table;
}
/* line 13, ../sass/_mixin.scss */
.shopping-cart-inner:before {
  clear: both;
}
/* line 190, ../sass/catalog.scss */
.shopping-cart-inner:hover {
  color: #23aba7;
}
/* line 193, ../sass/catalog.scss */
.shopping-cart-inner:hover a {
  color: #23aba7;
}
/* line 196, ../sass/catalog.scss */
.shopping-cart-inner:hover .fa {
  transition: all 0.2s;
  color: #23aba7;
}

/* line 204, ../sass/catalog.scss */
.shopping-cart-blocks,
.shopping-cart-icon {
  display: inline-block;
  float: right;
  margin-right: 1%;
  text-align: left;
  transition: all 0.5s;
}

/* line 212, ../sass/catalog.scss */
.shopping-cart-icon {
  font-size: 3.5em;
}

/*
|---------------------------------------------------------
| Basket
|---------------------------------------------------------
*/
/* line 222, ../sass/catalog.scss */
#main-basket {
  display: none;
  position: fixed;
  z-index: 9999;
  top: -700px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 700px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 2em;
  font-weight: 300;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px #23aba7;
}

/* line 241, ../sass/catalog.scss */
#basket-inner {
  color: #aaaaaa;
}
/* line 244, ../sass/catalog.scss */
#basket-inner > h3 {
  text-align: center;
  padding-bottom: .5em;
  margin-bottom: .5em;
  color: #23aba7;
  border-bottom: 1px solid #23aba7;
}

/* line 253, ../sass/catalog.scss */
.basket-good {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px dotted white;
  overflow: hidden;
}
/* line 8, ../sass/_mixin.scss */
.basket-good:after, .basket-good:before {
  content: ' ';
  display: table;
}
/* line 13, ../sass/_mixin.scss */
.basket-good:before {
  clear: both;
}

/* line 262, ../sass/catalog.scss */
.inner-catalog-title {
  float: left;
  width: 29%;
  margin-right: 1%;
  line-height: 48px;
  color: #23aba7;
}

/* line 270, ../sass/catalog.scss */
.inner-catalog-goods {
  float: left;
  width: 44%;
  margin-right: 1%;
  line-height: 48px;
}
/* line 276, ../sass/catalog.scss */
.inner-catalog-goods i {
  height: 2em;
  width: 2em;
  line-height: 2.1em;
  font-size: .7em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
}
/* line 285, ../sass/catalog.scss */
.inner-catalog-goods i:hover {
  border-color: #23aba7;
  color: #23aba7;
}
/* line 291, ../sass/catalog.scss */
.inner-catalog-goods input {
  height: 3.2em;
  width: 3.2em;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  text-align: center;
  font-size: .8em;
  font-family: 'Roboto';
  font-weight: 400;
  border-color: #23aba7;
  transition: all 0.5s;
  box-sizing: border-box;
}
/* line 306, ../sass/catalog.scss */
.inner-catalog-goods span {
  font-weight: 400;
}
/* line 310, ../sass/catalog.scss */
.inner-catalog-goods span[data-price="price"], .inner-catalog-goods span[data-total="total"] {
  color: #23aba7;
}

/* line 317, ../sass/catalog.scss */
.decorative {
  margin: 0 5px;
  font-size: .8em;
}

/* line 322, ../sass/catalog.scss */
.faequal {
  font-size: 1em;
}

/* line 326, ../sass/catalog.scss */
.inner-cat-images {
  float: left;
  width: 9%;
  margin-right: 1%;
}
/* line 331, ../sass/catalog.scss */
.inner-cat-images img {
  margin-top: 8px;
  max-width: 100%;
}

/* line 337, ../sass/catalog.scss */
.inner-cat-specifications {
  float: left;
  width: 50%;
}

/* line 342, ../sass/catalog.scss */
.inner-cat-fishki {
  float: left;
  width: 50%;
}

/* line 347, ../sass/catalog.scss */
.inner-catalog-firm {
  float: left;
  width: 15%;
  line-height: 48px;
}

/* line 353, ../sass/catalog.scss */
.basket-total {
  padding: .5em 0;
  margin: .5em 0;
  overflow: hidden;
}
/* line 8, ../sass/_mixin.scss */
.basket-total:after, .basket-total:before {
  content: ' ';
  display: table;
}
/* line 13, ../sass/_mixin.scss */
.basket-total:before {
  clear: both;
}
/* line 360, ../sass/catalog.scss */
.basket-total .basket-itog {
  float: left;
  width: 29%;
  margin-right: 1%;
}
/* line 366, ../sass/catalog.scss */
.basket-total .basket-total-price {
  float: left;
  margin-right: 2%;
}
/* line 372, ../sass/catalog.scss */
.basket-total span,
.basket-total i {
  color: #23aba7;
}
/* line 376, ../sass/catalog.scss */
.basket-total i {
  font-size: .6em;
}

/*
|---------------------------------------------------------
| Form Sending
|---------------------------------------------------------
*/
/* line 389, ../sass/catalog.scss */
#sendData h3 {
  text-align: center;
  color: #23aba7;
  border-bottom: 1px solid #23aba7;
  margin: 0 0 .5em 0;
  padding: 0 0 .5em 0;
}
/* line 397, ../sass/catalog.scss */
#sendData label {
  line-height: 33px;
}
/* line 401, ../sass/catalog.scss */
#sendData input {
  width: 100%;
  font: 300 .8em Roboto;
  padding: 7px 10px;
  border-radius: 4px;
  font-weight: 400;
  transition: all 0.2s;
}
/* line 410, ../sass/catalog.scss */
#sendData input:focus {
  box-shadow: 0 0 5px #23aba7;
}
/* line 415, ../sass/catalog.scss */
#sendData button {
  padding: 9px 16px;
  border: 1px solid #23aba7;
  color: #23aba7;
  border-radius: 4px;
  transition: all 0.2s;
}
/* line 423, ../sass/catalog.scss */
#sendData button:hover {
  background: #23aba7;
  color: #fff;
}
/* line 429, ../sass/catalog.scss */
#sendData i {
  margin-right: 5px;
}

/* line 434, ../sass/catalog.scss */
.form-col {
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 8, ../sass/_mixin.scss */
.form-col:after, .form-col:before {
  content: ' ';
  display: table;
}
/* line 13, ../sass/_mixin.scss */
.form-col:before {
  clear: both;
}

/* line 440, ../sass/catalog.scss */
.form-col-3 {
  float: left;
  width: 25%;
  margin-right: 5%;
  text-align: right;
}

/* line 446, ../sass/catalog.scss */
.form-col-4 {
  float: left;
  width: 30%;
  margin-right: 1%;
  text-align: left;
}

/* line 453, ../sass/catalog.scss */
.form-offset-2 {
  margin-left: 16.666666667%;
}

/* line 456, ../sass/catalog.scss */
.form-offset-3 {
  margin-left: 25%;
}

/* line 459, ../sass/catalog.scss */
.form-offset-4 {
  margin-left: 33.8%;
}

/* line 462, ../sass/catalog.scss */
.form-submit {
  margin-top: 10px;
}

/* line 466, ../sass/catalog.scss */
.fa-check {
  color: #23aba7;
}

/*
|---------------------------------------------------------
| Other
|---------------------------------------------------------
*/
/* line 480, ../sass/catalog.scss */
.fa-nope {
  border: none !important;
  width: 1em !important;
}
/* line 484, ../sass/catalog.scss */
.fa-nope:hover {
  color: inherit !important;
}

/* line 489, ../sass/catalog.scss */
.no-shopping-items {
  text-align: center;
  padding: 10px 0;
  color: #aaaaaa;
  border-radius: 10px;
}

/*
|---------------------------------------------------------
| Dark Block
|---------------------------------------------------------
*/
/* line 501, ../sass/catalog.scss */
#dark-block {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
