@media screen and (max-width: 960px) {
  /* line 4, ../sass/media.scss */
  .sexy-block-inner,
  .main-our-team,
  .main-why-me {
    width: 90%;
    margin: 0 auto;
  }

  /* line 9, ../sass/media.scss */
  .main-slider {
    padding: 50px 5%;
  }
  /* line 12, ../sass/media.scss */
  .main-slider img {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 22, ../sass/media.scss */
  body {
    font-size: .9em;
  }

  /* line 26, ../sass/media.scss */
  .header .logo > div {
    width: 135px;
  }

  /* line 30, ../sass/media.scss */
  .header .logo h1 {
    line-height: 98px;
  }

  /* line 34, ../sass/media.scss */
  .header img {
    margin-top: 5px;
  }

  /* line 40, ../sass/media.scss */
  .catalog-item .inner-catalog-img {
    text-align: center;
  }
  /* line 43, ../sass/media.scss */
  .catalog-item .inner-catalog-img img {
    max-width: 70%;
  }

  /* line 48, ../sass/media.scss */
  .catalog-item h4 {
    bottom: 0;
  }

  /* line 52, ../sass/media.scss */
  .shopping-cart-blocks {
    margin-right: 5%;
  }
  /* line 55, ../sass/media.scss */
  .shopping-cart-blocks p {
    font-size: 1em;
  }

  /* line 60, ../sass/media.scss */
  #main-basket {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  /* line 68, ../sass/media.scss */
  body {
    font-style: .8em;
  }

  /* line 72, ../sass/media.scss */
  p {
    font-size: .8em;
  }

  /* line 76, ../sass/media.scss */
  .logo {
    float: none;
    display: none;
  }

  /* line 83, ../sass/media.scss */
  .header .menu ul {
    float: none;
    display: table-row;
  }
  /* line 87, ../sass/media.scss */
  .header .menu ul li {
    display: table-cell;
    float: none;
  }
  /* line 91, ../sass/media.scss */
  .header .menu ul li a {
    float: none;
    display: table-cell;
    text-align: center;
    width: 1000px;
  }

  /* line 101, ../sass/media.scss */
  .main-slider {
    padding: 10px 5%;
  }

  /* line 105, ../sass/media.scss */
  .slider-image {
    width: 50%;
    margin: 0 auto;
    float: none;
  }

  /* line 111, ../sass/media.scss */
  .slider-text {
    width: 100%;
    float: none;
  }

  /* line 116, ../sass/media.scss */
  #why-me-map {
    height: 400px;
  }

  /* line 120, ../sass/media.scss */
  .main-sexy-block {
    padding: 0;
  }

  /* line 124, ../sass/media.scss */
  .sexy-block-inner {
    width: 100%;
    border-radius: 0;
  }

  /* line 130, ../sass/media.scss */
  .our-team-block {
    width: 50%;
    margin: 0 auto 20px;
    float: none;
  }
  /* line 135, ../sass/media.scss */
  .our-team-block > div {
    font-style: .8em;
  }

  /* line 140, ../sass/media.scss */
  .reason-text {
    font-size: .8em;
  }

  /* line 146, ../sass/media.scss */
  .catalog-item .inner-catalog-img,
  .catalog-item .inner-catalog-item {
    width: 80%;
    margin-right: 0;
    float: none;
    margin: 0 auto;
  }

  /* line 153, ../sass/media.scss */
  .catalog-item .inner-catalog-img {
    margin-bottom: 20px;
  }

  /* line 157, ../sass/media.scss */
  .catalog-item .inner-catalog-item .change-goods {
    display: block;
    text-align: center;
  }

  /* line 163, ../sass/media.scss */
  .catalog-item .inner-catalog-fishki,
  .catalog-item .inner-catalog-specifications {
    width: 49%;
    float: left;
    text-align: center;
  }

  /* line 169, ../sass/media.scss */
  .catalog-item h4 {
    position: relative;
    text-align: center;
  }

  /* line 174, ../sass/media.scss */
  #main-basket {
    top: 0;
    width: 100%;
  }

  /* line 179, ../sass/media.scss */
  .catalog-item-price {
    position: absolute;
    bottom: 0;
    right: 0;
    float: none;
  }

  /* line 186, ../sass/media.scss */
  .box-4 {
    float: none;
    width: 100%;
  }

  /* line 191, ../sass/media.scss */
  .light-box {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  /* line 200, ../sass/media.scss */
  .slider-image {
    width: 70%;
  }

  /* line 205, ../sass/media.scss */
  .slider-text h2 {
    font-size: 2em;
  }
  /* line 209, ../sass/media.scss */
  .slider-text h3 {
    font-size: 1.4em;
  }
  /* line 213, ../sass/media.scss */
  .slider-text p {
    font-size: .9em;
  }

  /* line 218, ../sass/media.scss */
  .reason-block {
    float: none;
    margin: 0 auto;
    width: 70%;
  }
  /* line 219, ../sass/media.scss */
  .reason-block:first-child {
    margin: 0 auto;
  }

  /* line 228, ../sass/media.scss */
  .reason-active {
    box-shadow: none;
  }

  /* line 232, ../sass/media.scss */
  #why-me-map {
    height: 300px;
  }

  /* line 237, ../sass/media.scss */
  .sexy-block-inner h2 {
    font-size: 1.5em;
  }

  /* line 242, ../sass/media.scss */
  .our-team-header p {
    font-size: .8em;
  }

  /* line 246, ../sass/media.scss */
  .our-team-block {
    width: 70%;
    margin: 0 auto 20px;
    float: none;
  }
  /* line 251, ../sass/media.scss */
  .our-team-block p {
    font-size: .8em;
  }

  /* line 256, ../sass/media.scss */
  .footer img {
    max-width: 45%;
  }

  /* line 260, ../sass/media.scss */
  #main-basket {
    top: 50px;
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
  }
  /* line 266, ../sass/media.scss */
  #main-basket .inner-catalog-title {
    width: 39%;
  }
  /* line 269, ../sass/media.scss */
  #main-basket .inner-catalog-goods {
    width: 59%;
  }
  /* line 272, ../sass/media.scss */
  #main-basket .inner-cat-images {
    display: none;
  }
  /* line 275, ../sass/media.scss */
  #main-basket .inner-catalog-firm {
    display: none;
  }

  /* line 280, ../sass/media.scss */
  #catalog .change-description {
    display: none;
  }

  /* line 285, ../sass/media.scss */
  .bg-error,
  .bg-success {
    width: 80%;
    height: 170px;
  }

  /* line 290, ../sass/media.scss */
  #basket-inner {
    height: 400px;
  }

  /* line 294, ../sass/media.scss */
  .form-offset-2 {
    margin-left: 0;
  }

  /* line 297, ../sass/media.scss */
  .form-col-3 {
    width: 35%;
  }

  /* line 300, ../sass/media.scss */
  .form-col-4 {
    width: 50%;
  }
}
@media screen and (max-height: 650px) {
  /* line 308, ../sass/media.scss */
  #basket-inner {
    height: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-height: 530px) {
  /* line 317, ../sass/media.scss */
  #basket-inner {
    height: 400px;
  }
}
@media screen and (max-height: 430px) {
  /* line 325, ../sass/media.scss */
  #basket-inner {
    height: 300px;
  }
}
