@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,cyrillic");
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_mixin.scss */
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 5, ../sass/_mixin.scss */
.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 9, ../sass/_mixin.scss */
.delay-15s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* line 14, ../sass/_mixin.scss */
.shadow {
  text-shadow: #37b5a1 1px 1px, #37b5a1 2px 2px, #37b5a1 3px 3px, #37b5a1 4px 4px, #37b5a1 5px 5px, #37b5a1 6px 6px, #37b5a1 7px 7px, #37b5a1 8px 8px, #37b5a1 9px 9px, #37b5a1 10px 10px, #37b5a1 11px 11px, #37b5a1 12px 12px, #37b6a2 13px 13px, #37b7a3 14px 14px, #38b8a4 15px 15px, #38b9a5 16px 16px, #38baa6 17px 17px, #39bba7 18px 18px, #39bca8 19px 19px, #39bda9 20px 20px, #3abfaa 21px 21px, #3ac0ab 22px 22px, #3ac1ac 23px 23px, #3bc2ad 24px 24px, #3bc3ae 25px 25px, #3bc4af 26px 26px, #3cc5b0 27px 27px, #3cc6b1 28px 28px, #3cc7b2 29px 29px, #3dc9b3 30px 30px;
}

/* line 4, ../sass/_catalog.scss */
.margin-top {
  margin-top: 250px;
}

/* line 8, ../sass/_catalog.scss */
.margin-bottom {
  margin-bottom: 15px;
}

/* line 12, ../sass/_catalog.scss */
.fa-little {
  font-size: 9px;
}

/* line 16, ../sass/_catalog.scss */
.isHidded {
  visibility: hidden;
}

/* line 22, ../sass/_catalog.scss */
.fadeInUp,
.fadeInRight,
.fadeOutLeft {
  visibility: visible;
}

/* line 32, ../sass/_catalog.scss */
#basket-view {
  cursor: pointer;
  transition: opacity .3s;
}
/* line 36, ../sass/_catalog.scss */
#basket-view i:first-child {
  color: #3dc9b3;
}

/* line 41, ../sass/_catalog.scss */
.condom-view {
  margin: 10px 0;
}
/* line 44, ../sass/_catalog.scss */
.condom-view h4 {
  font-weight: 500;
}
/* line 48, ../sass/_catalog.scss */
.condom-view p {
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 54, ../sass/_catalog.scss */
.condom-view > p {
  border-left: 1px solid #a1a9b0;
  padding-left: 10px;
}
/* line 59, ../sass/_catalog.scss */
.condom-view input {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
/* line 70, ../sass/_catalog.scss */
.condom-view img {
  padding: 20px;
  border-radius: 20%;
}

/* line 77, ../sass/_catalog.scss */
.condom-view-basket i.fa-rub {
  font-size: .6em;
}
/* line 81, ../sass/_catalog.scss */
.condom-view-basket .changeCount {
  width: 20px;
  height: 20px;
  line-height: 17px;
}
/* line 86, ../sass/_catalog.scss */
.condom-view-basket .changeCount i {
  font-size: .7em;
  margin-left: 1px;
}
/* line 92, ../sass/_catalog.scss */
.condom-view-basket input {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #3dc9b3;
}
/* line 99, ../sass/_catalog.scss */
.condom-view-basket .times-icon {
  margin: 0 8px;
}
/* line 103, ../sass/_catalog.scss */
.condom-view-basket .price-basket {
  color: #353535;
}
/* line 107, ../sass/_catalog.scss */
.condom-view-basket .total-count-basket {
  margin: 0 0 0 5px;
}

/* line 112, ../sass/_catalog.scss */
.line-height-basket {
  line-height: 37px;
}

/* line 116, ../sass/_catalog.scss */
.condom-icon {
  margin-bottom: 5px;
}
/* line 119, ../sass/_catalog.scss */
.condom-icon:last-child {
  margin-bottom: 0;
}
/* line 123, ../sass/_catalog.scss */
.condom-icon span {
  cursor: pointer;
  border: 1px solid #a1a9b0;
  color: #a1a9b0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 135, ../sass/_catalog.scss */
.condom-icon span:hover {
  border: 1px solid #3dc9b3;
  color: #3dc9b3;
}
/* line 142, ../sass/_catalog.scss */
.condom-icon.active span {
  border: 1px solid #3dc9b3;
  color: #3dc9b3;
}

/* line 150, ../sass/_catalog.scss */
.condom-firm {
  color: #3dc9b3;
  font-weight: bold;
}

/* line 155, ../sass/_catalog.scss */
.changeCount {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #a1a9b0;
  color: #a1a9b0;
}
/* line 168, ../sass/_catalog.scss */
.changeCount:hover {
  border: 1px solid #3dc9b3;
  color: #3dc9b3;
}

/* line 174, ../sass/_catalog.scss */
.condom-price {
  line-height: 50px;
  margin-right: 20px;
}
/* line 178, ../sass/_catalog.scss */
.condom-price i {
  font-size: 11px;
}

/* line 187, ../sass/_catalog.scss */
.to-span {
  display: inline-block;
}

/* line 191, ../sass/_catalog.scss */
.navbar-icon {
  margin-right: 10px;
  font-size: 3em;
}

/* line 196, ../sass/_catalog.scss */
.navbar-cont {
  line-height: 20px;
}

/* line 200, ../sass/_catalog.scss */
.nav-basket-view.minimaze {
  top: 58px;
  min-height: 60px;
  line-height: 70px;
  padding-right: 30px;
}

/* line 207, ../sass/_catalog.scss */
.nav-basket-view {
  top: 105px;
  line-height: 110px;
  min-height: 100px;
  background: rgba(230, 230, 230, 0.6);
  padding-right: 10px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 222, ../sass/_catalog.scss */
.modal-header {
  font-size: 2em;
}

/* line 1, ../sass/_mixin.scss */
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 5, ../sass/_mixin.scss */
.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 9, ../sass/_mixin.scss */
.delay-15s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* line 14, ../sass/_mixin.scss */
.shadow {
  text-shadow: #37b5a1 1px 1px, #37b5a1 2px 2px, #37b5a1 3px 3px, #37b5a1 4px 4px, #37b5a1 5px 5px, #37b5a1 6px 6px, #37b5a1 7px 7px, #37b5a1 8px 8px, #37b5a1 9px 9px, #37b5a1 10px 10px, #37b5a1 11px 11px, #37b5a1 12px 12px, #37b6a2 13px 13px, #37b7a3 14px 14px, #38b8a4 15px 15px, #38b9a5 16px 16px, #38baa6 17px 17px, #39bba7 18px 18px, #39bca8 19px 19px, #39bda9 20px 20px, #3abfaa 21px 21px, #3ac0ab 22px 22px, #3ac1ac 23px 23px, #3bc2ad 24px 24px, #3bc3ae 25px 25px, #3bc4af 26px 26px, #3cc5b0 27px 27px, #3cc6b1 28px 28px, #3cc7b2 29px 29px, #3dc9b3 30px 30px;
}

@media (max-width: 991px) {
  /* line 4, ../sass/_query.scss */
  .one-condom:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 13, ../sass/_query.scss */
  .one-condom:nth-child(3n+1) {
    clear: both;
  }
}
@media (max-width: 767px) {
  /* line 22, ../sass/_query.scss */
  .one-condom {
    border-bottom: 1px solid #a1a9b0;
    margin-bottom: 20px;
  }
  /* line 26, ../sass/_query.scss */
  .one-condom:last-child {
    border-bottom: none;
  }
}
/* line 9, ../sass/style.scss */
body {
  font-family: Roboto;
  font-weight: 300;
  background: #eee;
}

/* line 15, ../sass/style.scss */
#wrap {
  min-height: 700px;
}

/* line 19, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 21, ../sass/style.scss */
h3 {
  font-size: 1em;
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 27, ../sass/style.scss */
h3::after {
  content: " ";
  border: solid 2px #3dc9b3;
  display: block;
  width: 35px;
  margin: 25px auto;
}

/* line 36, ../sass/style.scss */
a {
  transition: all .3s;
  text-decoration: none;
  color: #353535;
}

/* line 42, ../sass/style.scss */
a:hover,
a:focus {
  color: #33b9a4;
  text-decoration: none;
}

/* line 47, ../sass/style.scss */
p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}

/* line 58, ../sass/style.scss */
#logo {
  height: 100%;
}

/* line 62, ../sass/style.scss */
.navbar-toggle {
  background: transparent;
  margin-top: 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 67, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background: #353535;
}

/* line 72, ../sass/style.scss */
.navbar-mm {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.6);
}

/* line 78, ../sass/style.scss */
.navbar-brand {
  padding: 0;
  height: 100px;
  line-height: 100px;
  margin-right: 30px;
  font-size: 3em;
  color: #a1a9b0;
}

/* line 87, ../sass/style.scss */
.navbar {
  min-height: 100px;
  margin-bottom: 0;
  border: 0;
}
/* line 92, ../sass/style.scss */
.navbar li {
  min-height: 100px;
}
/* line 95, ../sass/style.scss */
.navbar li a {
  line-height: 80px;
  min-height: 100px;
  color: #353535;
}

/* line 103, ../sass/style.scss */
.navbar-brand {
  margin-top: 4px;
}

/* line 108, ../sass/style.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  color: #3dc9b3;
  background: rgba(61, 201, 179, 0.05);
}

/* line 113, ../sass/style.scss */
li.active a {
  color: #3dc9b3;
  background: rgba(61, 201, 179, 0.05);
}

/* line 119, ../sass/style.scss */
.navbar.minimaze {
  min-height: 50px;
}
/* line 123, ../sass/style.scss */
.navbar.minimaze .navbar-toggle {
  margin-top: 15px;
}
/* line 127, ../sass/style.scss */
.navbar.minimaze .navbar-brand {
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 2em;
}
/* line 134, ../sass/style.scss */
.navbar.minimaze li {
  min-height: 50px;
}
/* line 137, ../sass/style.scss */
.navbar.minimaze li a {
  line-height: 40px;
  min-height: 50px;
}

/* line 150, ../sass/style.scss */
#content {
  background: #eeeeee url(../images/background4.jpg);
  background-size: cover;
  padding: 65px 0 300px 0;
  height: auto;
}
/* line 156, ../sass/style.scss */
#content h1 {
  font-size: 4em;
  color: #353535;
  line-height: 70px;
  margin: 10px 0 30px 0;
}
/* line 162, ../sass/style.scss */
#content h1 span {
  color: #a1a9b0;
}
/* line 165, ../sass/style.scss */
#content p {
  color: #8c9398;
  letter-spacing: 2px;
  font-size: 15px;
}
/* line 170, ../sass/style.scss */
#content p span {
  color: #3dc9b3;
}

/* line 174, ../sass/style.scss */
.catalog-btn {
  background: #3dc9b3;
  padding: 20px 40px;
  border-radius: 4px;
  margin-top: 60px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: 0px 3px 3px #2ea592;
}
/* line 186, ../sass/style.scss */
.catalog-btn:hover {
  color: #fff;
  box-shadow: 0px 3px 10px #2ea592;
}

/* line 192, ../sass/style.scss */
.inner {
  padding-top: 200px;
}

/* line 201, ../sass/style.scss */
.intro {
  background: #f3f5f8;
}
/* line 204, ../sass/style.scss */
.intro p {
  margin: 50px 0 0;
}

/* line 209, ../sass/style.scss */
.section-padding {
  padding: 90px 0 100px;
}

/* line 213, ../sass/style.scss */
h2.arrow {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  background: url("../images/h2-bg.png") no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
}

/* line 228, ../sass/style.scss */
.features-wrapper {
  margin: 70px 0 0;
}

/* line 232, ../sass/style.scss */
.icon {
  height: 175px;
  width: 175px;
  line-height: 175px;
  max-width: 100%;
  background: #3dc9b3;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  color: #fff;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
}

/* line 256, ../sass/style.scss */
.responsive-services {
  position: relative;
}

/* line 260, ../sass/style.scss */
.nopadding {
  padding: 0;
}

/* line 264, ../sass/style.scss */
.wrapper {
  height: 650px;
}

/* line 268, ../sass/style.scss */
.iphone {
  width: 50%;
  background: #f3f5f8;
  float: left;
  height: 100%;
  box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* line 280, ../sass/style.scss */
.wp3 {
  background: url(../images/iphone.png) no-repeat center;
  background-position: -250px -90px;
  height: 100%;
  min-height: 550px;
}

/* line 286, ../sass/style.scss */
.wp3m {
  background: url(../images/macbook.png) no-repeat center;
  background-position: -290px -90px;
  height: 100%;
  min-height: 550px;
}

/* line 292, ../sass/style.scss */
.wp3i {
  background: url(../images/imac.png) no-repeat center;
  background-position: -290px -90px;
  height: 100%;
  min-height: 550px;
}

/* line 299, ../sass/style.scss */
.fluid-white {
  width: 50%;
  background: #fff;
  float: right;
  height: 100%;
  z-index: 2;
}

/* line 307, ../sass/style.scss */
#servicesSlider {
  margin: 70px 0 0;
}

/* line 311, ../sass/style.scss */
.designs {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  min-height: 550px;
}

/* line 321, ../sass/style.scss */
.padding-top {
  padding-top: 150px;
}

/* line 325, ../sass/style.scss */
.bx-pager {
  position: absolute;
  top: 70%;
  right: 16%;
}

/* line 333, ../sass/style.scss */
.bx-pager {
  margin-top: 30px;
}

/* line 337, ../sass/style.scss */
.bx-pager-item {
  display: inline-block;
}
/* line 341, ../sass/style.scss */
.bx-pager-item:hover a {
  border: 1px solid #3dc9b3;
}

/* line 345, ../sass/style.scss */
.bx-pager-link {
  display: inline-block;
  padding: 3px 6px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #a1a9b0;
  color: #a1a9b0;
}

/* line 354, ../sass/style.scss */
.bx-pager-link.active {
  color: #3dc9b3;
  border: 1px solid #3dc9b3;
}

/* line 363, ../sass/style.scss */
.swag {
  background: url("../images/plants-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
/* line 372, ../sass/style.scss */
.swag h2 {
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 379, ../sass/style.scss */
.swag span {
  display: block;
  font-size: .3em;
  margin-top: 20px;
  line-height: 25px;
}

/* line 392, ../sass/style.scss */
#map {
  width: 100%;
  height: 500px;
  background: transparent;
}

/* line 403, ../sass/style.scss */
.buy-invite {
  padding: 70px 0;
  background: #242830;
}

/* line 408, ../sass/style.scss */
.buy-btn {
  display: inline-block;
  padding: 25px 40px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
/* line 417, ../sass/style.scss */
.buy-btn:hover {
  color: #3dc9b3;
  border: 1px solid #3dc9b3;
}

/* line 427, ../sass/style.scss */
.pluses {
  background: url("../images/keyboard-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0 140px;
}
/* line 436, ../sass/style.scss */
.pluses h2 {
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 443, ../sass/style.scss */
.pluses span {
  display: block;
  font-size: .3em;
  margin-top: 20px;
  line-height: 25px;
}

/* line 451, ../sass/style.scss */
.section-less {
  padding: 90px 0 50px;
}

/* line 460, ../sass/style.scss */
.contact-details {
  margin: 70px 0;
}
/* line 463, ../sass/style.scss */
.contact-details i {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
/* line 469, ../sass/style.scss */
.contact-details span {
  color: #3dc9b3;
}

/* line 474, ../sass/style.scss */
.box-hover {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  margin-bottom: 20px;
}
/* line 480, ../sass/style.scss */
.box-hover:hover {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
}

/* line 489, ../sass/style.scss */
.light-box {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
  -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  padding: 40px 0;
  border-radius: 5px;
}
/* line 497, ../sass/style.scss */
.light-box:hover {
  -webkit-box-shadow: 0px 3px 0px 0px #3dc9b3;
  -moz-box-shadow: 0px 3px 0px 0px #3dc9b3;
  box-shadow: 0px 3px 0px 0px #3dc9b3;
}

/* line 508, ../sass/style.scss */
footer {
  background-color: #242830;
  padding: 40px 0 30px;
}
/* line 512, ../sass/style.scss */
footer h2 {
  font-size: 2em;
  font-weight: 100;
  color: #fff;
}
/* line 518, ../sass/style.scss */
footer a {
  color: #237d6f;
}

/* line 524, ../sass/style.scss */
.visible {
  visibility: visible !important;
}

/* line 529, ../sass/style.scss */
.wp1, .wp2, .wp3,
.wp4, .wp5, .wp6 {
  visibility: hidden;
}

/* line 534, ../sass/style.scss */
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
  visibility: visible;
}

@media screen and (max-width: 991px) {
  /* line 543, ../sass/style.scss */
  h1 {
    font-size: 2em;
  }

  /* line 547, ../sass/style.scss */
  #content h1 {
    line-height: 70px;
  }

  /* line 551, ../sass/style.scss */
  .bx-pager {
    position: static;
    padding-bottom: 20px;
  }

  /* line 556, ../sass/style.scss */
  .padding-top {
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 563, ../sass/style.scss */
  .navbar-brand {
    font-size: 2.5em;
  }

  /* line 566, ../sass/style.scss */
  #content h1 {
    font-size: 3em;
  }

  /* line 569, ../sass/style.scss */
  .navbar.minimaze .navbar-brand {
    margin-top: 4px;
  }
}
@media screen and (max-width: 440px) {
  /* line 576, ../sass/style.scss */
  #responsive {
    /* display: none; */
  }

  /* line 580, ../sass/style.scss */
  .navbar-brand {
    margin-right: 10px;
    font-size: 2em;
  }

  /* line 585, ../sass/style.scss */
  #content h1 {
    font-size: 1.5em;
  }

  /* line 589, ../sass/style.scss */
  #content {
    padding: 65px 0 100px 0;
  }

  /* line 593, ../sass/style.scss */
  .inner {
    padding-top: 100px;
  }

  /* line 598, ../sass/style.scss */
  .swag,
  .pluses {
    background-attachment: scroll;
  }
}
