@import "variables";
@import "mixin";

.margin-top {
    margin-top: 250px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.fa-little {
    font-size: 9px;
}

.isHidded {
    visibility: hidden;
}

.fadeInUp,
.fadeInRight,
.fadeOutLeft {
    visibility: visible;
}

// Condom View

#all-condoms {

}

.condom-view {
    margin: 10px 0;

    h4 {
        font-weight: 500;
    }

    p {
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    > p {
        border-left: 1px solid $color-light-gray;
        padding-left: 10px;
    }

    input {
        outline: none;
        border: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        margin: 0 5px;
    }

    img {
        padding: 20px;
        border-radius: 20%;
    }
}

.condom-icon {
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    span {
        cursor: pointer;
        border: 1px solid $color-light-gray;
        color: $color-light-gray;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;

        @include transition;

        &:hover {
            border: 1px solid $color-default;
            color: $color-default;
        }
    }

    &.active {
        span {
            border: 1px solid $color-default;
            color: $color-default;
        }
    }

}

.condom-firm {
    color: $color-default;
    font-weight: bold;
}

.changeCount {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 100;

    border: 1px solid $color-light-gray;
    color: $color-light-gray;

    &:hover {
        border: 1px solid $color-default;
        color: $color-default;
    }
}

.condom-price {
    line-height: 50px;
    margin-right: 20px;

    i {
        font-size: 11px;
    }
}

// --------------------------------------
// ----------- Catalog View -------------
// --------------------------------------

.to-span {
    display: inline-block;
}

    .navbar-icon {
        margin-right: 10px;
        font-size: 3em;
    }

    .navbar-cont {
        line-height: 20px;
    }

.nav-basket-view.minimaze {
    top: 70px;
    min-height: 60px;
    line-height: 70px;
}

.nav-basket-view {
    top: 110px;
    line-height: 110px;
    min-height: 100px;
    background: darken( $bg-transition, 10% );
    @include transition;
}
