/*
|---------------------------------------------------------
| Clear Fix
|---------------------------------------------------------
*/
	@mixin clearfix {
		&:after,
		&:before {
			content: ' ';
			display: table;
		}

		&:before {
			clear: both;
		}
	}

/*
|---------------------------------------------------------
| Transition
|---------------------------------------------------------
*/
	@mixin transition($speed: .2s) {
		transition: all $speed;
	}

	@mixin rotate($angle: 360) {
		transform: rotate($angle+deg);
	}

/*
|---------------------------------------------------------
| Font Style
|---------------------------------------------------------
*/
	@mixin font-custom($fontName, $fontFile) {
		@font-face {
			font-family: "#{$fontName}";
			src:
				url("../fonts/#{$fontFile}/#{$fontName}.eot") format("embedded-opentype"),
				url("../fonts/#{$fontFile}/#{$fontName}.woff") format("woff"),
				url("../fonts/#{$fontFile}/#{$fontName}.ttf") format("truetype"),
				url("../fonts/#{$fontFile}/#{$fontName}.svg##{$fontFile}") format("svg");
			font-stretch: normal;
			font-style:   normal;
			font-weight:  normal;
		}
	}

	@mixin font-normal($fontName, $fontFile) {
		@font-face {
			font-family: "#{$fontName}";
			src:
				url("../fonts/#{$fontFile}/#{$fontName}-Light.ttf");
			font-weight: 400;
		}
	}

	@mixin font-thin($fontName, $fontFile) {
		@font-face {
			font-family: "#{$fontName}";
			src:
				url(../fonts/#{$fontFile}/#{$fontName}-Thin.ttf);
			font-weight: 300;
		}
	}

/*
|---------------------------------------------------------
| Other
|---------------------------------------------------------
*/

	@mixin main-block {
		max-width: $content-width;
		margin: 0 auto;
	}

	@mixin responsive-image {
		max-width: 100%;
	}

	@mixin box-sizing {
		box-sizing: border-box;
	}

	@mixin box-shadow($range: 20px, $color: rgba(255,255,255,.7)) {
		box-shadow: 0 0 $range $color;
	}

%blocks {
	z-index: 99999;
	position: fixed;
	width: 500px;
	height: 150px;
	line-height: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	font: 300 1.5em;
	padding: 3em;
	border-radius: 10px;
	text-align: center;

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: inherit;
		}
	}

	@include box-sizing;
	@include transition;
}

