/*
|---------------------------------------------------------
| Color
|---------------------------------------------------------
*/
	$color-green: #23aba7;
	$color-gray: #aaa;
	$color-white: #fff;
	$color-green-lighten: #22aba6;

/*
|---------------------------------------------------------
| Width
|---------------------------------------------------------
*/
	$content-width: 960px;

/*
|---------------------------------------------------------
| Margin
|---------------------------------------------------------
*/
	$margin-default: 3em;