@import "variables";
@import "mixin";

#main-aboutme {
	background: #fff;
}

#aboutme {
	color: $color-gray;
	padding: $margin-default 0;

	@include main-block;

	h2 {
		text-align: center;
		padding-bottom: 1em;
	}
}