@import "variables";
@import "mixin";

body {
	background: #fff;
}

#catalog {
	width: 100%;
	background: #fff;
	padding-top: 4em;

	h2 {
		text-align: center;
		color: $color-green;
		margin: 1em 0 1.5em 0;
		padding-bottom: 1.3em;
		border-bottom: 1px solid $color-green;
	}
}

	.main-catalog {
		padding: 1em 0;
		@include main-block;
	}


	.catalog-items {
		overflow: hidden;
		@include clearfix;
	}

	.catalog-item {
		float: left;
		width: 99%;
		margin-right: 1%;
		margin-bottom: 2%;
		color: darken($color-gray, 10%);
		position: relative;
		overflow: hidden;

		@include box-sizing;

		h4 {
			position: absolute;
			bottom: 50px;
			right: 0;
			color: $color-green-lighten;
		}

		&:nth-child(2n+1) {
			clear: both;
		}

		.inner-catalog-img {
			
			width: 49%;
			margin-right: 1%;
			float: left;

			img {
				@include responsive-image;
				@include transition;
				border-radius: 5px;
			}

		}

		.inner-catalog-fishki,
		.inner-catalog-specifications {
			width: 4%;
			min-height: 10px;
			float: right;
			text-align: center;
			margin-right: 1%;

			img {
				@include responsive-image;
				background-size: contain;
				background-color: rgba(35, 171, 167, .5);
				border-radius: 50%;
			}
		}

		.inner-catalog-item {
			
			width: 39%;
			margin-right: 1%;
			float: left;
			position: relative;

			.change-goods {
				margin-top: 1em;
				display: inline-block;
			}

			.catalog-item-price {
				display: inline-block;
				margin: 1em 0 0 2em;
				line-height: 51px;
				float: right;

				p {
					font-size: 1em;
				}

				span {
					color: $color-green;
					font-size: 1.1em;
				}

				i {
					font-size: .6em;
				}
			}

			h3 {
				color: $color-green;
				font-size: 2em;
			}

			p {
				font-size: .9em;
				margin-bottom: 1em;
			}

			i {
				height: 2em;
				width: 2em;
				line-height: 2.1em;
				text-align: center;
				border-radius: 50%;
				border: 1px solid $color-gray;

				&:hover {
					border-color: $color-green;
					color: $color-green;
				}
			}

			input {
				height: 3.2em;
				width: 3.2em;
				// border: 1px solid $color-gray;
				border: 1px solid $color-green;
				border-radius: 50%;
				text-align: center;
				font-size: 1em;
				font-family: 'Roboto';
				font-weight: 300;

				@include transition(.5s);
				@include box-sizing;
			}
		}

	}


/*
|---------------------------------------------------------
| Shopping Cart
|---------------------------------------------------------
*/
	#shopping-cart {
		position: fixed;
		width: 100%;
		z-index: 999;
		background: rgba(240, 240, 240, .9);
		color: $color-gray;
		top: 115px;
		opacity: 0;

		// display: none;

		@include transition(1s);
	}

	.shopping-cart-inner {
		@include main-block;
		@include clearfix;
		@include transition(.5s);

		overflow: hidden;
		text-align: center;
		position: relative;
		padding: $margin-default/4 0;
		cursor: pointer;


		&:hover {			
			color: $color-green;

			a {
				color: $color-green;
			}
			.fa {
				@include transition;
				color: $color-green;
			}
		}
	}

	.shopping-cart-blocks,
	.shopping-cart-icon {
		display: inline-block;
		float: right;
		margin-right: 1%;
		text-align: left;
		@include transition(.5s);
	}

	.shopping-cart-icon {
		font-size: 3.5em;
	}


/*
|---------------------------------------------------------
| Basket
|---------------------------------------------------------
*/
	#main-basket {
		display: none;
		z-index: 9999;
		margin: 30px auto;
		width: 700px;
		background: rgba(255,255,255,.9);
		border-radius: 20px;
		padding: 2em;
		font-weight: 300;
		overflow: auto;
		position: relative;

		@include box-sizing;
		@include box-shadow($color: $color-green);
	}

	.close-block {
		position: absolute;
		right: 15px;
		top: 10px;
		color: $color-green;
		cursor: pointer;
		height: 30px;
		width: 30px;
		text-align: center;
		border-radius: 50%;
		border: 1px solid $color-green;

		.fa {
			line-height: 30px;
			font-size: 1.5em;
		}
	}

	#basket-inner {
		color: $color-gray;
		overflow-y: auto;
		height: 500px;

		> h3 {
			text-align: center;
			padding-bottom: .5em;
			margin-bottom: .5em;
			color: $color-green;
			border-bottom: 1px solid $color-green;
		}
	}

	.basket-good {
		margin-bottom: .5em;
		padding-bottom: .5em;
		border-bottom: 1px dotted white;
		overflow: hidden;

		@include clearfix;
	}

	.inner-catalog-title {
		float: left;
		width: 29%;
		margin-right: 1%;
		line-height: 48px;
		color: $color-green;
	}

	.inner-catalog-goods {
		float: left;
		width: 44%;
		margin-right: 1%;
		line-height: 48px;

		i {
			height: 2em;
			width: 2em;
			line-height: 2.1em;
			font-size: .7em;
			text-align: center;
			border-radius: 50%;
			border: 1px solid $color-gray;

			&:hover {
				border-color: $color-green;
				color: $color-green;
			}
		}

		input {
			height: 3.2em;
			width: 3.2em;
			border: 1px solid $color-gray;
			border-radius: 50%;
			text-align: center;
			font-size: .8em;
			font-family: 'Roboto';
			font-weight: 400;
			border-color: $color-green;

			@include transition(.5s);
			@include box-sizing;
		}

		span {
			font-weight: 400;

			&[data-price="price"],
			&[data-total="total"] {
				color: $color-green;
			}
		}

	}

	.decorative {
		margin: 0 5px;
		font-size: .8em;
	}

	.faequal {
		font-size: 1em;
	}

	.inner-cat-images {
		float: left;
		width: 9%;
		margin-right: 1%;

		img {
			margin-top: 8px;
			@include responsive-image;
		}
	}

		.inner-cat-specifications {
			float: left;
			width: 50%;
		}

		.inner-cat-fishki {
			float: left;
			width: 50%;	
		}

	.inner-catalog-firm {
		float: left;
		width: 15%;
		line-height: 48px;
	}

	.basket-total {
		padding: .5em 0;
		margin: .5em 0;	
		overflow: hidden;

		@include clearfix;

		.basket-itog {
			float: left;
			width: 29%;
			margin-right: 1%;
		}

		.basket-total-price {
			float: left;
			margin-right: 2%;
		}

		span,
		i {
			color: $color-green;
		}

		i {
			font-size: .6em;
		}
	}


/*
|---------------------------------------------------------
| Form Sending
|---------------------------------------------------------
*/
	#sendData {

		h3 {
			text-align: center;
			color: $color-green;
			border-bottom: 1px solid $color-green;
			margin: 0 0 .5em 0;
			padding: 0 0 .5em 0;
		}

		label {
			line-height: 33px;
		}

		input {
			width: 100%;
			font: 300 .8em Roboto;
			padding: 7px 10px;
			border-radius: 4px;
			font-weight: 400;

			@include transition;

			&:focus {			
				box-shadow: 0 0 5px $color-green;
			}
		}

		button {
			padding: 9px 16px;
			border: 1px solid $color-green;
			color: $color-green;
			border-radius: 4px;

			@include transition;

			&:hover {
				background: $color-green;
				color: #fff;
			}
		}

		i {
			margin-right: 5px;
		}
	}

	.form-col {
		margin-bottom: 5px;
		overflow: hidden;
		@include clearfix;
	}

	.form-col-3 {
		float: left;
		width: 25%;
		margin-right: 5%;
		text-align: right;
	}
	.form-col-4 {
		float: left;
		width: 30%;
		margin-right: 1%;
		text-align: left;
	}

	.form-offset-2 {
		margin-left: 16.666666667%;
	}
	.form-offset-3 {
		margin-left: 25%;
	}
	.form-offset-4 {
		margin-left: 33.8%;
	}
	.form-submit {
		margin-top: 10px;
	}

	.fa-check {
		color: $color-green;
	}

	



/*
|---------------------------------------------------------
| Other
|---------------------------------------------------------
*/

	.fa-nope {
		border: none!important;
		width: 1em!important;

		&:hover {
			color: inherit!important;
		}
	}

	.no-shopping-items {
		text-align: center;
		padding: 10px 0;
		color: $color-gray;
		border-radius: 10px;
	}

/*
|---------------------------------------------------------
| Dark Block
|---------------------------------------------------------
*/
	#dark-block {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		opacity: 0;
		overflow: auto;
		overflow-y: scroll;
		display: none;

		@include transition(.5s);
	}













