@import "variables";
@import "mixin";

body {
	background: #fff;
}

#catalog {
	width: 100%;
	background: #fff;
	padding-top: 4em;

	h2 {
		text-align: center;
		color: $color-green;
		margin: 1em 0 1.5em 0;
		padding-bottom: 1.3em;
		border-bottom: 1px solid $color-green;
	}
}

	.main-catalog {
		padding: 1em 0;
		@include main-block;
	}


	.catalog-items {
		overflow: hidden;
		@include clearfix;
	}

	.catalog-item {
		float: left;
		width: 99%;
		margin-right: 1%;
		margin-bottom: 2%;
		color: darken($color-gray, 10%);
		position: relative;
		overflow: hidden;

		@include box-sizing;

		h4 {
			position: absolute;
			bottom: 100px;
			right: 0;
			color: $color-green-lighten;
		}

		&:nth-child(2n+1) {
			clear: both;
		}

		.inner-catalog-img {
			
			width: 49%;
			margin-right: 1%;
			float: left;

			img {
				@include responsive-image;
				@include transition;
				border-radius: 5px;
			}

		}

		.inner-catalog-fishki,
		.inner-catalog-specifications {
			width: 4%;
			min-height: 10px;
			float: right;
			text-align: center;
			margin-right: 1%;

			img {
				@include responsive-image;
				background-size: contain;
				background-color: rgba(35, 171, 167, .5);
				border-radius: 50%;
			}
		}

		.inner-catalog-item {
			
			width: 39%;
			margin-right: 1%;
			float: left;
			position: relative;

			.change-goods {
				margin-top: 1em;
			}

			h3 {
				color: $color-green;
				font-size: 2em;
			}

			p {
				font-size: .9em;
				margin-bottom: 1em;
			}

			i {
				height: 2em;
				width: 2em;
				line-height: 2.1em;
				text-align: center;
				border-radius: 50%;
				border: 1px solid $color-gray;

				&:hover {
					border-color: $color-green;
					color: $color-green;
				}
			}

			input {
				height: 3.2em;
				width: 3.2em;
				border: 1px solid $color-gray;
				border-radius: 50%;
				text-align: center;
				font-size: 1em;
				font-family: 'Roboto';
				font-weight: 400;

				@include transition(.5s);
				@include box-sizing;
			}
		}

	}


/*
|---------------------------------------------------------
| Dark Block
|---------------------------------------------------------
*/
	#dark-block {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.5);
		opacity: 0;
		display: none;

		@include transition(.5s);
	}













