@media screen and (max-width: 960px) {
		.sexy-block-inner,
		.main-our-team,
		.main-why-me {
			width: 90%;
			margin: 0 auto;
		}

		.main-slider {
			padding: 50px 5%;

			img {
				margin-top: 30px;
			}
		}

	
}

@media screen and (max-width: 768px) {
	
		body {
			font-size: .9em;
		}

		.header .logo > div {
			width: 135px;
		}

		.header .logo h1 {
			line-height: 98px;
		}

		.header img {
			margin-top: 5px;
		}



		.catalog-item .inner-catalog-img {
			text-align: center;

			img {
				max-width: 70%;
			}
		}

		.catalog-item h4 {
			bottom: 0;
		}

		.shopping-cart-blocks {
			margin-right: 5%;

			p {
				font-size: 1em;
			}
		}

		#main-basket {
			width: 90%;
		}

}

@media screen and (max-width: 650px) {

		body {
			font-style: .8em;
		}

		p {
			font-size: .8em;
		}

		.logo {
			float: none;
			display: none;
		}

		.header .menu {

			ul {
				float: none;
				display: table-row;

				li {
					display: table-cell;
					float: none;

					a {
						float: none;
						display: table-cell;
						text-align: center;
						width: 1000px;
					}
				}
			}
		}

		.main-slider {
			padding: 10px 5%;
		}

		.slider-image {
			width: 50%;
			margin: 0 auto;
			float: none;
		}

		.slider-text {
			width: 100%;
			float: none;
		}

		#why-me-map {
			height: 400px;
		}

		.main-sexy-block {
			padding: 0;
		}

		.sexy-block-inner {
			
			width: 100%;
			border-radius: 0;
		}

		.our-team-block {
			width: 50%;
			margin: 0 auto 20px;
			float: none;

			> div {
				font-style: .8em;
			}
		}

		.reason-text {
			font-size: .8em;
		}


		.catalog-item .inner-catalog-img,
		.catalog-item .inner-catalog-item {
			width: 80%;
			margin-right: 0;
			float: none;
			margin: 0 auto;
		}

		.catalog-item .inner-catalog-img {
			margin-bottom: 20px;
		}

		.catalog-item .inner-catalog-item .change-goods {
			display: block;
			text-align: center;
		}

		.catalog-item .inner-catalog-fishki,
		.catalog-item .inner-catalog-specifications {
			width: 49%;
			float: left;
			text-align: center;
		}

		.catalog-item h4 {
			position: relative;
			text-align: center;
		}

		#main-basket {
			top: 0;
			width: 100%;
		}

		.catalog-item-price {
			position: absolute;
			bottom: 0;
			right: 0;
			float: none;
		}

		.box-4 {
			float: none;
			width: 100%;
		}

		.light-box {
			margin-bottom: 30px;
		}

}

@media screen and (max-width: 550px) {


		.slider-image {
			width: 70%;
		}

		.slider-text {
			h2 {
				font-size: 2em;
			}

			h3 {
				font-size: 1.4em;
			}

			p {
				font-size: .9em;
			}
		}

		.reason-block {
			&:first-child {
				margin: 0 auto;
			}

			float: none;
			margin: 0 auto;
			width: 70%;
		}

		.reason-active {
			box-shadow: none;
		}

		#why-me-map {
			height: 300px;
		}

		.sexy-block-inner {
			h2 {
				font-size: 1.5em;
			}
		}

		.our-team-header p {
			font-size: .8em;
		}

		.our-team-block {
			width: 70%;
			margin: 0 auto 20px;
			float: none;

			p {
				font-size: .8em;
			}
		}

		.footer img {
			max-width: 45%;
		}

		#main-basket {
			top: 50px;
			width: 100%;
			border-radius: 0;
			margin: 0 auto;

			.inner-catalog-title {
				width: 39%
			}
			.inner-catalog-goods {
				width: 59%;
			}
			.inner-cat-images {
				display: none;
			}
			.inner-catalog-firm {
				display: none;
			}
		}

		#catalog .change-description {
			display: none;
		}
	
	.bg-error,
	.bg-success {
		width: 80%;
		height: 170px;
	}

	#basket-inner {
		height: 400px;
	}

	.form-offset-2 {
		margin-left: 0;
	}
	.form-col-3 {
		width: 35%;
	}
	.form-col-4 {
		width: 50%;
	}

}



