@import "compass/reset";
@import "variables";
@import "mixin";

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,cyrillic");

body {
    font-family: Roboto;
    font-weight: 300;
}

img { max-width: 100%; }

.glyphicon {
    font-family: 'FontAwesome';
}

h3 {
    font-size: 1em;
    color: $color-gray;
    text-transform: uppercase;
    font-weight: bold;

    &::after {
        content: " ";
        border: solid 2px #3dc9b3;
        display: block;
        width: 35px;
        margin: 25px auto;
    }
}

a {
    transition: all .3s;
    text-decoration: none;
    color: $color-gray;
}
a:hover,
a:focus {
    color: darken( $color-default, 5% );
    text-decoration: none;
}

p {
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}


// --------------------------------
// ------------ Logo --------------
// --------------------------------
    #logo {
        height: 100%;
    }

    .navbar-toggle {
        background: transparent;
        margin-top: 35px;

        .icon-bar {
            background: $color-gray;
        }
    }

    .navbar-mm {
        background: $bg-transition;
    }

    .navbar-brand {
        padding: 0;
        height: 100px;
        line-height: 100px;
        margin-right: 30px;
        font-size: 3em;
        color: $color-light-gray;
    }

    .navbar {
        min-height: 100px;
        margin-bottom: 0;
        border: 0;

        li {
            min-height: 100px;

            a {
                line-height: 80px;
                min-height: 100px;
                color: #aaa;
            }
        }
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
        color: $color-default;
        background: rgba(61, 201, 179, .05);
    }
    li.active {
        a {
            color: $color-light-gray;
            background: rgba(61, 201, 179, .05);
        }
    }


// --------------------------------
// ----------- Section ------------
// --------------------------------

    #content {
        background: #eee url(../images/background4.jpg);
        background-size: cover;
        padding: 65px 0 300px 0;
        height: auto;

        h1 {
            font-size: 4em;
            color: $color-gray;
            line-height: 70px;
            margin: 10px 0 30px 0;

            span { color: $color-light-gray; }
        }

        p {
            color: #8c9398;
            letter-spacing: 2px;
            font-size: 15px;

            span { color: $color-default; }
        }
    }

    .catalog-btn {
        background: $color-default;
        padding: 20px 40px;
        border-radius: 4px;
        margin-top: 60px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        box-shadow: 0px 3px 3px darken( $color-default, 10% );

        &:hover {
            color: #fff;
            box-shadow: 0px 3px 10px darken( $color-default, 10% );
        }
    }

    .inner {
        padding-top: 200px;
    }


// --------------------------------
// ------------ Intro -------------
// --------------------------------

    .intro {
        background: #f3f5f8;

        p {
            margin: 50px 0 0;
        }
    }

    .section-padding {
        padding: 90px 0 100px;
    }

    h2.arrow {
        font-size: 1.1em;
        text-transform: uppercase;
        color: $color-gray;
        letter-spacing: 1px;
        background: url('../images/h2-bg.png') no-repeat center bottom;
        padding-bottom: 30px;
        font-weight: bold;
    }


// --------------------------------
// ----------- Features -----------
// --------------------------------

    .features-wrapper {
        margin: 70px 0 0;
    }

    .icon {
        height: 175px;
        width: 175px;
        line-height: 175px;
        max-width: 100%;
        background: #3dc9b3;
        border-radius: 50%;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: block;
        color: #fff;
        font-size: 55px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        margin: 0 auto 50px;
    }
