<!-- Section -->
<section id="content" class="content">
    <div class="container">
        <!-- Text Block -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <h1 class="animated fadeInDown">Интернет-магазин в <span>ПУНКе</span></h1>
                <p class="animated fadeInUp delay-05s">
                    Интернет-магазин <span>презервативов</span>, работающий в ПУНКе
                </p>
            </div>
        </div>

        <!-- Button -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="#catalog" class="catalog-btn animated fadeInUp delay-1s">Перейти в каталог</a>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section class="intro text-center section-padding" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 wp1 animated">
                <h2 class="arrow">Почему стоит покупать у нас?</h2>
                <p>Наш магазин был создан из проблемы того, что очень <a href="#">сложно</a> купить презервативы в ПУНКе. А покупать презервативы в магазине очень дорого и не очень удобно.</p>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="features text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="arrow">Вы можете купить презервативы уже сейчас</h2>
                <div class="features-wrapper">
                    <div class="col-md-4 wp2 animated">
                        <div class="icon">
                            <i class="fa fa-laptop shadow"></i>
                        </div>
                        <h3>Название 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellendus cupiditate molestiae, assumenda soluta obcaecati laudantium ipsa alias magnam numquam?</p>
                    </div>
                    <div class="col-md-4 wp2 animated delay-05s">
                        <div class="icon">
                            <i class="fa fa-heart shadow"></i>
                        </div>
                        <h3>Название 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellendus cupiditate molestiae, assumenda soluta obcaecati laudantium ipsa alias magnam numquam?</p>
                    </div>
                    <div class="col-md-4 wp2 animated delay-1s">
                        <div class="icon">
                            <i class="fa fa-code shadow"></i>
                        </div>
                        <h3>Название 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellendus cupiditate molestiae, assumenda soluta obcaecati laudantium ipsa alias magnam numquam?</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Responsive -->
<section class="text-center" id="responsive">
    <div class="container nopadding responsive-services">
        <ul class="slides">
            <li>
                <div class="row">
                    <div class="col-md-7">
                        <div class="wp3 animated"></div>
                    </div>
                    <div class="col-md-5 padding-top animated wp7 delay-1s">
                        <h3 class="arrow">Мобильная версия</h3>
                        <p>Вы можете купить презервативы через ваш сотовый телефон, это так же просто, как и на компьютере!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-7">
                        <div class="wp3m animated"></div>
                    </div>
                    <div class="col-md-5 padding-top">
                        <h3 class="arrow">Десктопная версия</h3>
                        <p>Заказывайте презервативы через нас, это просто, удобно, а так же очень быстро и бешевле, чем в других магазинах!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Swag -->
<section class="swag text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Зачем платить больше?
                    <span>если можно заказать презервативы на нашем сайте и получить их с доставкой?</span>
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Google Map -->
<section class="map" id="map"></section>

<!-- Buy -->
<div class="buy-invite text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#catalog" class="buy-btn">Перейти в каталог</a>
            </div>
        </div>
    </div>
</div>

<!-- Pluses -->
<section class="pluses text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Закажи товары на сайте
                    <span>а забирайте и оплачивайте в живую</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- Information -->
<section class="information text-center section-padding section-less">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="arrow">Наши контакты</h2>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-sm-4 wp5 animated">
                <div class="light-box box-hover">
                    <h3>
                        <i class="fa fa-map-marker"></i>
                        <span>Адрес</span>
                    </h3>
                    <p>21 общежитие, 712 комната</p>
                </div>
            </div>
            <div class="col-sm-4 wp5 animated delay-05s">
                <div class="light-box box-hover">
                    <h3>
                        <i class="fa fa-mobile"></i>
                        <span>Телефон</span>
                    </h3>
                    <p>8(921)86-36-937</p>
                </div>
            </div>
            <div class="col-sm-4 wp5 animated delay-1s">
                <div class="light-box box-hover">
                    <h3>
                        <i class="fa fa-envelope"></i>
                        <span>Email</span>
                    </h3>
                    <p>mmvpunke@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
